.headerBar {
    border-top-width: 3.43px;
    border-top-color: #33DBDB;
    border-style: solid;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0
  }

  @media(max-width: 600px){
    .headerBar {
      display: flex;
      justify-content: center;
    }
  }