.container{
    width: 562px;
    min-height: 72px;
    display: flex;
    flex-direction: column
}

.headerText {
    color: #112467;
    font-weight: bold;
    font-size: 25px;
}

.paragraphText {
    color: #333333;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}