.container{
    width: 562px;
    display: flex;
    flex-direction: column;
    margin-bottom: 31px;
}

@media(max-width: 600px){
    .container{
        width: 250px;
        align-items: center;
        margin-bottom: 85px;
    }
}

.headerText {
    color: #112467;
    font-weight: bold;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    font-family: Georgia;
    line-height: 44px;
    margin-bottom: 50px;
    width: 357px;
    height: 37px;
}

@media(max-width: 600px){
    .headerText {
        font-size: 30px;
        width: 250px;
        margin-bottom: 10px;
    }
}

.paragraphText {
    color: #333333;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 562px;
    height: 72px;
}

@media(max-width: 600px){
    .paragraphText {
        width: 250px;
    }
}