.card {
    width: 575.04px;
    height: 96px;
    display: flex;
    margin-bottom: 24px;
}


@media(max-width: 600px){
    .card {
        width: 190px;
        justify-content: center;
    }
}

.cardTextContainer{
    flex-direction: column;
    margin-left: 24px;
}

@media(max-width: 600px){
    .cardTextContainer{
        margin-left: 5px;
    }
}

.nameText {
    font-weight: 700;
    font-size: 16px;
    color: #333333;
    line-height:24px;
    letter-spacing: -0.025em;
}

.descriptionText {
    height: 48px;
    width: 455.21px;
    font-size: 14px;
    color: #666666;
    line-height: 14px;
    font-weight: 21px;
    letter-spacing: -0.051em;
}

@media(max-width: 600px){
    .descriptionText {
        width: 190px;
    }
}

.cardAvatar{
    width: 95.83px; 
    height: 96px;
}